body {
	background: #66B2FF;
}
#mainheading {
	font-family: monospace;
	font-size: 42px;
	text-align: center;
}
#loginwindow {
	background-color: #A9D5F3;
	text-align: center;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 20px;
	padding: 20px;
	border-style: solid;
}
#submitbutton {
	width: 300px;
	height: 50px;
}
.labels {
	font-family: arial;
}
#footer {
	background-color: white;
	float: bottom;
	height: 50px;
	position:absolute;
  	bottom:0;
   	width:100%;
   	border-top: solid;
}
.underlogin {
	font-family: arial;
	font-color: grey;
	font-size: 10px;
}
#creditsdiv {
	float: left;
}
#credits {
	font-family: monospace;
}
#main {
	background-color: #66B2FF;
}
#password {
	-webkit-text-security: disc;
}
.userspace {
	border-style: solid;
	margin-left: auto;
	margin-right: auto;
	border-radius: 20px;
	padding: 5px;
	width: 350px;
	height: 80px;
	background-color: white;
}
