body {
	background: #66CCFF;
}
#mainheading {
	font-family: monospace;
	font-size: 42px;
	text-align: center;
}
#loginwindow {
	background-color: #F4D7FF;
	border-style: solid;
	text-align: center;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 25px;
	padding: 20px;
}
button {
	width: 175px;
	height: 30px;
}
.labels {
	font-family: arial;
}
#bottom {
	background-color: white;
	float: bottom;
	height: 50px;
	position:absolute;
  	bottom:0;
   	width:100%;
   	border-top: solid;
}
#bottomleft {
	float: left;
}
.bottomleft {
	font-family: arial;
	font-size: 12px;
}
#main {
	background-color: ;
}
#password {
	-webkit-text-security: disc;
}